.maininhalttextdiv{
    margin: 20px;
}
#maininhalttext {
    padding: 1em 20% 1em 20%;
    float: left;
    margin: 20px;
    width: 56.5%;

}
#mainnav a:hover, #mainnav a:active, #mainnav a:focus { /* Guideline 1.4 Distinguishable 1.4.1 Use of Color Using CSS to change the presentation of a user interface component when it receives focus  C15 interaktive Elemente mittesl Hover Fokus hervorheben */
    background-color: #DCFFFF;
    color:#000066;
    margin: 20px;
}
